# Ignore dotenv file
.env

# Ignore node modules
node_modules/

# Ignore todo.txt
todo.txt

# Ignore temporary files
temp.js
temp.json
tempCodeRunnerFile.js
prompt2.md
prompt3.md
gymbrodb_24_04_2026_2.json
project_structure.txt