ion-content {
  --overflow: hidden;
  overflow: hidden;
  /*--background: radial-gradient(circle at center, #222 0%, #111 100%);*/
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* Treenitietojen kortti */
.exercise-card {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  border: 1px solid rgba(255, 217, 0, 0.2);

  .label {
    color: #ffd900;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 5px;
  }
  .exercise-title {
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: bold;
  }

  .stats-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    .stat {
      display: flex;
      flex-direction: column;
      small {
        color: #888;
        font-size: 10px;
      }
      span {
        color: #ffd900;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

/* ALKUPERÄINEN TIMER-TYYLI */
.timer {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 125px; // Sijoitettu next-napin yläpuolelle
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 80px;
  border-radius: 12px;
  text-align: center;
  border: 2px solid #ffd900;
  font-size: 50px;
  --color: #ffd900;
  --background: #000000ae !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  --ripple-color: #5d5c5c;

  &.running {
    --background: rgba(255, 217, 0, 0.2) !important;
  }
}

/* ALKUPERÄINEN NEXT-TYYLI */
.next {
  border: 2px solid #ffd900;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  --color: #ffd900;
  --background: #111;
  border-radius: 1px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.finish {
  border-color: #2dd36f;
  --color: #2dd36f;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(255, 217, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 217, 0, 0.2);
  }
}

ion-toolbar {
  --background: #111111; /* Pakotetaan musta tausta */
  --color: #ffd900; /* Tekstin väri keltaiseksi */
}
