<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container ion-padding">
    <div class="center-content">
      <h1 class="main-title">temporary</h1>
      <p class="sub-title">temporary</p>
    </div>
    <ion-button class="timer" expand="block" (click)="toggleTimer()">
      {{ timerValue }}
    </ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="next">next</ion-button>
  </ion-toolbar>
</ion-footer>
