<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{ activeWorkout?.name }}</ion-title>
    <ion-buttons slot="end">
      <div class="ion-padding-horizontal" style="color: var(--ion-color-primary); font-weight: bold">
        {{ currentIndex + 1 }} / {{ activeWorkout?.exercises?.length }}
      </div>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container ion-padding">

    @if (currentExercise) {
    <div class="exercise-card">
      <p class="label">NYKYINEN LIIKE</p>
      <h1 class="exercise-title">{{ currentExercise.move.name }}</h1>

      <div class="stats-grid">
        <div class="stat">
          <small>SETS</small>
          <span>{{ currentExercise.sets.length }}</span>
        </div>
        <div class="stat">
          <small>REPS</small>
          <span>{{ currentExercise.sets[0].reps }}</span>
        </div>
        <div class="stat">
          <small>WEIGHT</small>
          <span>{{ currentExercise.sets[0].weight }}kg</span>
        </div>
      </div>
    </div>
    }

    <!-- TIMER KOMPONENTTI -->
    <!-- duration: kuinka monta sekuntia lasketaan (nyt vakio 10) -->
    <!-- timerFinished: voit halutessasi kutsua funktiota kun aika loppuu -->
    <!-- Lisää #workoutTimer -->
    <app-timer #workoutTimer [duration]="10"></app-timer>

  </div>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
  @if (currentIndex < (activeWorkout?.exercises?.length || 0) - 1) { <ion-button class="next-btn" expand="block"
    shape="round" color="primary" (click)="seuraavaLiike()">
    NEXT EXERCISE
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
    } @else {
    <ion-button class="next-btn" expand="block" shape="round" color="primary" (click)="lopetaTreeni()">
      FINISH WORKOUT
      <ion-icon slot="end" name="checkmark-done"></ion-icon>
    </ion-button>
    }
</ion-footer>