<div class="modal-container">
  <!-- back button -->
  <ion-button
    class="modal-choice-button"
    color="warning"
    (click)="confirm(null)"
  >
    <ion-icon name="backspace"></ion-icon>
  </ion-button>
  <!-- <p>index: {{iocs.toString()}}</p> -->
  <!-- <p>value: {{vocs}}</p> -->

  <div class="modal-choice-matrix">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(1)"
            >1</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(2)"
            >2</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(3)"
            >3</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(4)"
            >4</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(5)"
            >5</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(6)"
            >6</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(7)"
            >7</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(8)"
            >8</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            class="modal-choice-button"
            color="medium"
            (click)="confirm(9)"
            >9</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
