.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 5vh;
}

ion-item {
  --background: transparent;
  --color: white;
  --highlight-color-focused: var(--ion-color-primary);
}
    ion-label {
  font-size: 1.4rem !important;  /* Suurentaa tekstin kokoa */
  font-weight: 700 !important;   /* Tekee tekstistä lihavoidun */
  color: var(--ion-color-primary) !important; /* Tekee tekstistä keltaisen */
  text-transform: uppercase;     /* Muuttaa tekstin ISOIKSI KIRJAIMIKSI */
  letter-spacing: 1px;           /* Lisää hieman tilaa kirjainten väliin */
}
ion-input {
  /* Kasvattaa tekstin kokoa, jonka käyttäjä kirjoittaa kenttään */
  font-size: 20px;
}