<!-- Tilastot-sivu -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tilastot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">

    <!-- XP-KORTTI -->
    <!-- <div class="xp-wrapper">
      <div class="xp-header">
        <span class="level-text"></span>

      </div>
      <div class="progress-bar-container">
        <div class="progress-bar-fill" [style.width.%]="(xpService.progress$ | async)! * 100"></div>
      </div>
    </div> -->

    <!-- Stats-kortit -->
    <div class="user-stats-grid">
      <div class="user-stat-box">
        <small>Kokonais XP</small>
        <p>{{ totalXp }}</p>
      </div>

      <div class="user-stat-box">
        <small>Seuraava taso</small>
        <p>{{ xpToNextLevel }}</p>
      </div>

      <div class="user-stat-box">
        <small>Taso</small>
        <p>{{ level }}</p>
      </div>

      <div class="user-stat-box">
        <small>Treenejä</small>
        <p>{{ totalSessions }}</p>
      </div>

      <div class="user-stat-box full-width">
        <small>Jäsenenä alkaen</small>
        <p>{{ userData?.createdAt | date:'dd.MM.yyyy' }}</p>
      </div>
    </div>

    <!-- Piirakkagraafi -->
    <ion-card class="chart-card">
      <ion-card-header>
        <ion-card-title>Lihasryhmäjakauma</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" type="pie"></canvas>
        @if (!pieChartData.datasets[0].data.length) {
        <p class="no-data">
          Ei vielä treenidataa
        </p>
        }
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>