<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tilastot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">

    <!-- XP-KORTTI -->
    <div class="xp-wrapper">
      <div class="xp-header">
        <span class="level-text"></span>

      </div>
      <div class="progress-bar-container">
        <div class="progress-bar-fill" [style.width.%]="(xpService.progress$ | async)! * 100"></div>
      </div>
    </div>

    <!-- STREAK-KORTTI -->

    <div class="user-stats-grid">
      <div class="user-stat-box">
        <small>Kokonais XP</small>
        <p>{{ userData?.xp || 0 }}</p>
      </div>

      <div class="user-stat-box">
        <small>Treenejä</small>
        <p>{{ userData?.trainingSessions?.length || 0 }}</p>
      </div>

      <div class="user-stat-box full-width">
        <small>Jäsenenä alkaen</small>
        <p>{{ userData?.createdAt | date:'dd.MM.yyyy' }}</p>
      </div>
    </div>

  </div>
</ion-content>