<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-full-progress">
      <div class="level-indicator">
        <span>LVL {{testData?.level}}</span>
      </div>
      <div class="progress-wrapper">
        <ion-progress-bar class="xpbar" [value]="xpService.progress$ | async"></ion-progress-bar>
      </div>
    </div>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container ion-padding">
    <h2>Tervetuloa {{testData?.name!.split(' ')[0]}}!</h2>

    @if (savedPrograms.length === 0) {
    <p class="placeholder">
      Täällä näkyvät omat treeniohjelmasi. Aloita luomalla uusi ohjelma!
    </p>
    }

    @if (savedPrograms.length > 0) {
    <!-- LISÄTTY: (ionChange) kuuntelija -->
    <ion-accordion-group (ionChange)="onAccordionChange($event)">
      @for (program of savedPrograms; track $index) {
      <ion-accordion [value]="program._id">
        <ion-item slot="header">
          <ion-label>
            <h3 style="font-weight: bold; color: var(--ion-color-primary);">{{ program?.name }}</h3>
          </ion-label>

          <!-- Poistonappi -->
          <ion-button slot="end" fill="clear" color="danger" (click)="deleteProgram(program._id, $event)"
            [disabled]="program.isDefault">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <div class="ion-padding" slot="content" style="background: transparent;">
          <ion-list lines="full">
            @for (ex of program.exercises; track $index) {
            <ion-item style="--background: transparent;">
              <ion-label>
                <h3>{{ ex.move.name }}</h3>
                <p>
                  <span>{{ ex.sets.length }} Sets </span>
                  <span>x {{ ex.sets[0].reps }} Reps </span>
                  <span>({{ ex.sets[0].weight }} kg)</span>
                </p>
              </ion-label>
            </ion-item>
            }
          </ion-list>

          <div style="padding: 10px 0;">
            <ion-button color="primary" expand="block" shape="round" (click)="startProgram(program)">
              <ion-icon slot="start" name="play"></ion-icon>
              ALOITA TREENI
            </ion-button>
          </div>
        </div>
      </ion-accordion>
      }
    </ion-accordion-group>
    }
  </div>

  <!-- MUOKATTU: FAB-nappi piilotetaan, jos isAccordionOpen on true -->
  @if (!isAccordionOpen) {
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" (click)="lisaaOhjelma()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>