<!--<ion-header class="ion-no-border">
  <ion-toolbar class="headercolor">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="logo-section">
      <h1>GymBroApp</h1>
      <p>Kirjaudu sisään jatkaaksesi</p>
    </div>
    <div class="logo-wrapper">
      <img src="assets/logoilmantaustaa.png" alt="Sovelluksen logo" />
    </div>
    <div class="action-section" style="display: flex; justify-content: center">
      <asl-google-signin-button
        type="standard"
        size="large"
      ></asl-google-signin-button>
    </div>

    <div class="footer-text">
      <p>Ainoa kirjautumisvaihtoehto turvallisuutesi takaamiseksi.</p>
      <a
        href="https://policies.google.com/privacy"
        target="_blank"
        rel="noopener noreferrer"
      >
        Tietosuojaseloste
      </a>
    </div>
  </div>
</ion-content>
