<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title slot="">Game Screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    @if (!this.squares) {
    <ion-spinner></ion-spinner>
    } @else {

    <div id="board-container">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <!-- 3 main columns -->
          @for (bigCol of [0, 1, 2]; track bigCol) {
          <ion-col>
            <!-- 3 blocks per column -->
            @for (bigRow of [0, 1, 2]; track bigRow) {
            <div class="inner-square-container">
              <ion-grid class="ion-no-padding">
                <!-- 3 rows per block -->
                @for (smallRow of [0, 1, 2]; track smallRow) {
                <ion-row>
                  <!-- 3 buttons per row -->
                  @for (smallCol of [0, 1, 2]; track smallCol) {
                  <ion-col>
                    <app-square
                      (squareClick)="openModal(bigRow * 27 + smallRow * 9 + bigCol * 3 + smallCol, squares[bigRow * 27 + smallRow * 9 + bigCol * 3 + smallCol])"
                      [index]="bigRow * 27 + smallRow * 9 + bigCol * 3 +
                      smallCol"
                      [value]="squares[bigRow * 27 + smallRow * 9 + bigCol * 3 + smallCol]"
                    ></app-square>
                  </ion-col>
                  }
                </ion-row>
                }
              </ion-grid>
            </div>
            }
          </ion-col>
          }
        </ion-row>
      </ion-grid>
    </div>
    }
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
