ion-content {
  --overflow: hidden;
  overflow: hidden;
  --background: radial-gradient(circle at center, #222 0%, #111 100%);
}
.content-wrapper {
  text-align: center;
  padding: 10px;
  letter-spacing: 1px;
}
.xp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 40px 10px;
}
.content-wrapper {
  width: 100%;
}
.next {
  border: 2px solid #ffd900;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  outline: none;
  border-radius: 1px;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}
.headercolor {
  --background: #202020;
}

h1 {
  color: #ffd900;
  font-weight: bold;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px auto;
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

p {
  font-size: 28px;
  color: #e7e7e7fd;
  letter-spacing: 1px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
