<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/page2"></ion-back-button>
    </ion-buttons>
    <ion-title>Luo uusi treeniohjelma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container ion-padding">

    <ion-item lines="full" class="name-input-item">
      <ion-label position="stacked">OHJELMAN NIMI</ion-label>
      <ion-input [(ngModel)]="programName" type="text" maxlength="30" placeholder="esim. Jalkapäivä">
      </ion-input>
    </ion-item>

    <h3 class="selection-title">VALITSE HARJOITTEET</h3>

    <ion-accordion-group #myAccordionGroup>
      @for (category of exerciseList2; track $index) {
      <ion-accordion [value]="category.category">

        <ion-item slot="header">
          <ion-label>
            <h3 class="category-title">{{ category.category }}</h3>
          </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content" style="background: #252525;">

          @for (exercise of category.exercises; track $index) {
          <ion-item (click)="toggleSelection(exercise)" lines="full" button="true" class="exercise-item-shared">

            <ion-checkbox [(ngModel)]="exercise.isSelected" slot="start" (click)="$event.stopPropagation()">
            </ion-checkbox>

            <ion-label class="exercise-label-shared">{{ exercise.move.name }}</ion-label>

            @if (!exercise.move.isDefault) {
            <ion-button fill="clear" color="danger" slot="end" class="trash-button"
              (click)="removeExercise(exercise, $event); $event.stopPropagation()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
            }

            <!-- Sets, Reps, Kg logiikka -->
            @if (exercise.isSelected) {
            <div slot="end" class="stats-container" (click)="$event.stopPropagation()">
              <div class="stat-group">
                <ion-input type="number" [ngModel]="exercise.sets.length" (ngModelChange)="updateSets(exercise, $event)"
                  class="small-input"></ion-input>
                <span class="unit">Sets</span>
              </div>
              <span class="separator">x</span>
              <div class="stat-group">
                <ion-input type="number" [ngModel]="exercise.sets[0].reps"
                  (ngModelChange)="updateAllReps(exercise, $event)" class="small-input"></ion-input>
                <span class="unit">Reps</span>
              </div>
              <div class="stat-group">
                <ion-input type="number" [ngModel]="exercise.sets[0].weight"
                  (ngModelChange)="updateAllWeights(exercise, $event)" class="small-input"></ion-input>
                <span class="unit">kg</span>
              </div>
            </div>
            }
          </ion-item>
          }
        </div>
      </ion-accordion>
      }
    </ion-accordion-group>


    <div class="ion-padding-top action-buttons">
      <ion-button expand="block" fill="outline" (click)="openCustomMoveModal()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Luo uusi liike
      </ion-button>

      <ion-button expand="block" color="primary" (click)="saveProgram2()" [disabled]="programName.trim().length === 0">
        Tallenna ohjelma
      </ion-button>
    </div>

  </div>

  <ion-modal [isOpen]="isCustomMoveModalOpen" (didDismiss)="cancelCreateCustomMove()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Luo uusi liike</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancelCreateCustomMove()">Sulje</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Liikkeen nimi" labelPlacement="stacked" placeholder="Nimi" [(ngModel)]="newMoveName"
            maxlength="30"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Lihasryhmä" labelPlacement="stacked" placeholder="Esim. Rinta" [(ngModel)]="newMoveMuscle"
            maxlength="30" autocapitalize="on"></ion-input>
        </ion-item>

        <div class="ion-padding-top">
          <ion-label class="ion-padding-start" color="medium">Liikkeen tyyppi</ion-label>
          <ion-segment [(ngModel)]="newMoveType" class="ion-margin-top">
            <ion-segment-button value="compound">
              <ion-label>Compound</ion-label>
            </ion-segment-button>
            <ion-segment-button value="targeted">
              <ion-label>Targeted</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

        <ion-button expand="block" class="ion-margin-top" (click)="confirmCreateCustomMove()"
          [disabled]="newMoveName.trim().length === 0">
          Lisää
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>