@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
:root {
  /** 1. Keltainen pääväri (Primary) **/
  --ion-color-primary: #ffd900;
  --ion-color-primary-rgb: 255, 217, 0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0bf00; // Korjattu shade tummemmaksi keltaiseksi
  --ion-color-primary-tint: #ffdd1a; // Korjattu tint vaaleammaksi keltaiseksi

  /** 2. Yleiset taustavärit koko sovellukseen **/
  --ion-background-color: #202020; // Tämä vaikuttaa oletuksena ion-contentiin
  --ion-text-color: #ffffff; // Valkoinen perusteksti
  --ion-item-background: #2a2a2a; // Listojen (ion-item) tausta
  --ion-font-family: "Inter", sans-serif; //fontti
  //safe area!
  --ion-safe-area-top: env(safe-area-inset-top, 0px);
  --ion-safe-area-bottom: env(safe-area-inset-bottom, 0px);
}
ion-content {
  --background: radial-gradient(
    circle at center,
    #222 0%,
    #111 100%
  ) !important; /*taustan gradient */
  //safe arean varmistus!
  --padding-top: var(--ion-safe-area-top);
  --padding-bottom: var(--ion-safe-area-bottom);
}
ion-modal {
  //ylemmät arvot
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}
/* Globaalit komponenttimääritykset */
ion-toolbar {
  --background: #000000;
  --color: var(--ion-color-primary); // Käytetään muuttujaa
  --border-style: none; //poistaa ionic omat tyylittelyt
}
ion-header {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.164) !important; //erittaa hieman enemmän headeria taustasta
  z-index: 100;
}
ion-progress-bar {
  /*--background: #0f0f0f8b;
  --progress-background: #ffd900;
  height: 25px;
  border-radius: 12px;*/
  height: 20px;
  border-radius: 50px;
  --progress-background: #ffd900;
  --background: #131212;
  box-shadow: 0 0 20px #0000001b;
  margin: 30px auto;
  width: 85%;
}
//Demo Frontend puolen xp-bar
ion-progress-bar::part(progress),
ion-progress-bar::part(track) {
  border-radius: 12px;
  transition: none !important;
}

ion-button.next-style {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 70px !important;
  margin: 0 auto !important;
  --border-style: solid;
  --border-width: 2px;
  --border-color: #ffd900;
  --border-radius: 1px;
  --color: #ffd900;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  font-size: 30px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  letter-spacing: 1px;
}
/*.xpbar::part(progress) {
  transition: transform 1.2s ease-in-out !important;
} */ //backend:n transition, testattava onko ok
