:root {
  /** * 1. Määritellään keltainen pääväriksi (Primary)
   * Tämä muuttaa automaattisesti ion-buttonit keltaisiksi, 
   * kun käytät <ion-button color="primary">.
   */
  --ion-color-primary: #ffd900;
  --ion-color-primary-rgb: 255, 206, 0;
  --ion-color-primary-contrast: #000000; // Musta teksti keltaisen päälle
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #eceae4;
  --ion-color-primary-tint: #efeee9;

  ion-content {
    --background: #202020;
  }
  /* Jos haluat, että Toolbar (yläpalkki) on myös musta keltaisella tekstillä */
  ion-toolbar {
    --background: #111111;
    --color: yellow;
  }
}
ion-progress-bar {
  /*--background: #0f0f0f8b;
  --progress-background: #ffd900;
  height: 25px;
  border-radius: 12px;*/
  height: 20px;
  border-radius: 50px;
  --progress-background: #ffd900;
  --background: #131212;
  box-shadow: 0 0 20px #0000001b;
  margin: 30px auto;
  width: 85%;
}
//Demo Frontend puolen xp-bar
ion-progress-bar::part(progress),
ion-progress-bar::part(track) {
  border-radius: 12px;
  transition: none !important;
}
/*.xpbar::part(progress) {
  transition: transform 1.2s ease-in-out !important;
} */ //backend:n transition, testattava onko ok
